<h1>Login</h1>
 <%= form_for @object do |f| %>
  <%= render 'layouts/error_messages', f: f.object %>
    
  <!-- form_for @object, html: { multipart: true }, do |f| -->
  <!-- form_for @object, html: { class: "classname" }, do |f| -->

  
<% end %>
 