/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$trebush:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

.debug_dump{
  font-size: 16px;
  max-width: 300px;
}
.logout,
.logout:link,
.logout:visited,
.login:link,
.login:visited{
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  font-family: $trebush;
  text-transform: uppercase;
  padding: 10px 20px;
  background-color: rgb(89, 156, 255);
color: white;
font-weight: 700;
transition: all 0.2s;
margin: 10px;

&:hover{
  background-color: rgb(56, 15, 170);
}
}

.username{
  display:  block;
  width: 400px;
  margin: 0 auto;
  font-size: 20px;
  font-family: $trebush;
}
.name{
  font-size: 20px;
  color: red;
}